In [1]:
import pandas as pd
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, confusion_matrix

In [2]:
# import pandas as pd
df = pd.read_csv("/config/workspace/Dataset/dataset_allsensors (1).csv")

In [3]:
df.head()

   Sample_ID  Pulse(BPM)  Temperature   GSR    Emotion
0          1          74         36.6  12.2    Neutral
1          2          87         37.1  14.7  Disgusted
2          3          98         37.2  11.7  Surprised
3          4          90         37.0  15.3      Angry
4          5          96         37.2  11.8  Surprised

In [10]:
df = df.drop("Sample_ID", axis=1)

In [11]:
df.head()

   Pulse(BPM)  Temperature   GSR    Emotion
0          74         36.6  12.2    Neutral
1          87         37.1  14.7  Disgusted
2          98         37.2  11.7  Surprised
3          90         37.0  15.3      Angry
4          96         37.2  11.8  Surprised

In [12]:
X = df.drop(columns=['Emotion'])
y = df['Emotion']

In [13]:
X

      Pulse(BPM)  Temperature   GSR
0             74         36.6  12.2
1             87         37.1  14.7
2             98         37.2  11.7
3             90         37.0  15.3
4             96         37.2  11.8
...          ...          ...   ...
2995          92         36.6  22.0
2996          99         37.1  17.2
2997         100         36.7  11.0
2998          82         36.7  15.7
2999          74         36.8  15.2

[3000 rows x 3 columns]

In [14]:
y

0         Neutral
1       Disgusted
2       Surprised
3           Angry
4       Surprised
          ...
2995      Fearful
2996      Neutral
2997        Happy
2998        Happy
2999          Sad
Name: Emotion, Length: 3000, dtype: object

In [15]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=0)

In [16]:
X_test

      Pulse(BPM)  Temperature   GSR
311           88         37.4  20.8
1025          80         36.7  21.3
1587          73         36.7  12.8
2941          74         37.0  19.2
2980          82         36.5  19.1
...          ...          ...   ...
2012          95         37.2  20.0
2074          70         37.1  18.7
2902          92         36.9  11.4
1256          73         37.1  17.6
1523          94         37.1  13.1

[750 rows x 3 columns]

In [17]:
rf_classifier = RandomForestClassifier(n_estimators=100, random_state=0)

In [18]:
rf_classifier.fit(X_train, y_train)

RandomForestClassifier(random_state=0)

In [19]:
y_pred = rf_classifier.predict(X_test)

In [20]:
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

Accuracy: 0.13733333333333334

In [21]:
conf_matrix = confusion_matrix(y_test, y_pred)
print("Confusion Matrix:\n", conf_matrix)

Confusion Matrix:
 [[16 11 12 14 23 10 15]
 [16 24 15 20 12 12  8]
 [26 11 10 25 14 11 18]
 [10 25 16 13 12  8  8]
 [18 19 12 11 16 16  9]
 [25 19 11 24 15 11 17]
 [17 19 15 13 19 16 13]]

In [19]:
import pickle

In [20]:
with open("random_forest_emotion_model.pkl", "wb") as model_file:
    pickle.dump(rf_classifier, model_file)